.quasar
.DS_Store
.thumbs.db
node_modules
/.docker/bin
/dist
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

/docker-compose.yml
/quasar.sh.env
/node
/.env.js
/.bin/*

!*.gitkeep
test/jest/coverage
