$break = 700px

.form
  min-width 260px
  width 100%

  .field
    width 100%
    padding 5px

.form.form-flex
  display flex
  flex-wrap wrap
  flex-flow row wrap

  .field
    for width in (1..20)
      &.width-{width * 5}
        max-width width * 5%

@media (max-width $break)
  .form.form-flex:not(.no-break) .field:not(.no-break)
    max-width 100% !important

.form.form-grid
  display grid
  grid-template-columns repeat(20, 5%)

  .field
    grid-column auto / span 20
    for width in (1..20)
      &.width-{width * 5}
        grid-column auto / span width
    for width in (1..20)
      &.height-{width}
        grid-row auto / span width

@media (max-width $break)
  .form.form-grid:not(.no-break) .field:not(.no-break)
    grid-column auto / span 20 !important
    grid-row auto / span 1
