// app global css
@import "prototype.styl"

// @quasar
// q-btn, q-btn-section
@media (max-width: 768px)
  .q-btn, .q-btn-section
    min-width 0 !important
    .q-btn__content
      & > div
        display: none
      & i.on-left
        margin: 0

.fullscreen
  z-index 10000
