// app global css
@import "../app/Prototype/Style/element.styl"

@import "../app/Prototype/Style/form.styl"

@import "../app/Prototype/Style/field.styl"

@import "../app/Prototype/Style/fix.styl"

@import "../app/Prototype/Style/header.styl"

@import "../app/Prototype/Style/scrollbar.styl"

@import "../app/Prototype/Style/table.styl"

@import "../app/Prototype/Style/transition.styl"
